<br />
<br />
	@{var selYears = new List<string>
		();

		for (int i = 0; i < 5; i++)
		{
			selYears.Add(DateTime.Now.AddYears(-i).Year.ToString());

		};
	}

	<select id="selYears" name="tesYear" class="w-auto custom-select" hidden>
		@foreach (var item in selYears)
		{
			<option value="@item">@item</option>
		}
	</select>
