

<a asp-action="Plan_TER" asp-route-actionName="editing" class="btn btn-outline-primary w-25">Введение плана ТЭР</a>
<br>
<br>
<a asp-action="Plan_TER" asp-route-actionName="showing" class="btn btn-outline-primary w-25">Показать введенные планы ТЭР</a>
<br>
<br>


<a asp-action="CopyPlan" class="btn btn-outline-primary w-25">Скопировать план по ТЭР</a>
<br>

