
<a asp-action="DevicesPlaces" class="btn btn-outline-primary w-25">Расположение устройств</a>
<br>
<br>
<a asp-action="CriteriaForDevices" class="btn btn-outline-primary w-25">Редактировать критерии для счетчиков</a>
<br>
<br>

<a asp-action="EmailReportReceivers" class="btn btn-outline-primary w-25">Редактировать получателей отчетов по e-mail</a>
<br>
<br>

<a asp-action="DevicePlacesNames" class="btn btn-outline-primary w-25">Редактировать места расположения</a>
<br>
<br>
<a asp-action="SKUNames" class="btn btn-outline-primary w-25">Редактировать SKU(наменклатуру)</a>
<br>
<br>
<a asp-action="EtcParams" class="btn btn-outline-primary w-25">Прочие параметры</a>